footer{
    font-size: 34;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: 2px solid black;
    background-color: gray;
    padding-bottom: 40px;
    padding: 1em 0;
    bottom: 0;
}
.foot{
    text-align: center;
}